<header>
  <h1 class="headline">
    <%= link_to "CARAVAN", formation_posts_path %>
  </h1>
  <div class="social">
    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-instagram"></i>
  </div>
</header>

<nav>
  <ul class="nav-list">
    <li class="nav-list-item">
      <a href="#">Home</a>
    </li>
    <li class="nav-list-item">About</li>
    <li class="nav-list-item">Topic</li>
  </ul>
</nav>

<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      The world is a book<br>
      and those who do not travel<br>
      read only one page.
    </p>
    <p class="main-visual-name">
      St. Augustine
    </p>
  </div>
</div>

<main class="clearfix">
  <section class="single-formation_post">
    <h2 class="formation_post-headline">Blog</h2>
    <section class="formation_post-box">
      <h3 class="formation_post-box-headline">
        <%= @formation_post.title %>
      </h3>
      <div class="formation_post-box-content">
        <p class="formation_post-date">
          <%= @formation_post.created_at %>
        </p>
      </div>
      <p class="single-text">
        <%= @formation_post.body %>
      </p>
      <p class="single-coordinate">
        <script>
        window.onload = function () {
          // canvas要素を取得
          var canvas = document.getElementById("canvas");
          // canvas要素が持つgetContext()メソッドを実行し、
          // グラフィック描画のためのメソッドやプロパティを
          // 持つオブジェクトを取得する。
          // 引数を"2d"とすることで2Dグラフィックの描画に
          // 特化したメソッドやプロパティを持つオブジェクトを取得し、
          // 定数ctxに格納する。
          var ctx = canvas.getContext("2d");
          // 定数ctxに格納したオブジェクトがもつプロパティやメソッドは
          // ctx.プロパティ名、ctx.メソッド名() で呼び出せる


          var BB = canvas.getBoundingClientRect();
          //左辺の座標
          var offsetX = BB.left;
          //四角形の上辺の座標
          var offsetY = BB.top;
          var WIDTH = canvas.width;
          var HEIGHT = canvas.height;

          var dragok = false;
          var startX;
          var startY;

          var img = new Image();
          img.src = "/images/uni.jpg";
          img.onload = () => {
            draw();
          }

          var coordinates = document.getElementById('formation_post_coordinates').value;

          var rects = JSON.parse(coordinates);

          draw();

          function rect(x, y, w, h) {
            ctx.beginPath();
            ctx.rect(x, y, w, h);
            ctx.closePath();
            ctx.fill();
          }
          //アニメーションの各フレームの開始時に必要
          function clear() {
            ctx.clearRect(0, 0, WIDTH, HEIGHT);
          }

          function draw() {
            clear();
            ctx.fillStyle = "#FAF7F8";
            rect(0, 0, WIDTH, HEIGHT);

            for (var i = 0; i < rects.length; i++) {
              var r = rects[i];
              ctx.fillStyle = r.fill;

              //画像の場合
              ctx.drawImage(img, r.x, r.y, r.width, r.height);
            }

          }
          // canvas.onmousedown = myDown;

          // function myDown(e) {
          //   e.preventDefault();
          //   e.stopPropagation();
          //   //e.clientXはWEB画面全体のx座標（押した箇所のx座標）
          //   //offsetXはcanvasの左上のx座標
          //   var mx = parseInt(e.clientX - offsetX);
          //   var my = parseInt(e.clientY - offsetY);
          //   //アイコンを押したときのx座標とy座標を記録している
          //   dragok = false;
          //   for (var i = 0; i < rects.length; i++) {
          //     var r = rects[i];
          //     if (mx > r.x && mx < r.x + r.width && my > r.y && my < r.y + r.height) {
          //       dragok = true;
          //       r.isDragging = true;
          //     }
          //   }
          //   //startX,startYに最初アイコンをクリックした時の座標が記録される
          //   startX = mx;
          //   startY = my;
          // }

          canvas.onmouseup = myUp;

          function myUp(e) {
            e.preventDefault();
            e.stopPropagation();

            dragok = false;
            for (var i = 0; i < rects.length; i++) {
              rects[i].isDragging = false;
            }
            document.getElementById('formation_post_coordinates').value = JSON.stringify(rects);

          }

          canvas.onmousemove = myMove;

          function myMove(e) {
            if (dragok) {
              e.preventDefault();
              e.stopPropagation();

              var mx = parseInt(e.clientX - offsetX);
              var my = parseInt(e.clientY - offsetY);

              var dx = mx - startX;
              var dy = my - startY;

              for (var i = 0; i < rects.length; i++) {
                var r = rects[i];
                if (r.isDragging) {
                  r.x += dx;
                  r.y += dy;

                }
              }

              draw();

              startX = mx;
              startY = my;

            }
          }

        };
    </script>

        <%= @formation_post.body %>
      </p>
      <div class="author-case clearfix">
        <div class="author-image"></div>
        <div class="author-box">
          <p class="author-name">By JOHN SMITH / Photographer</p>
          <p class="author-text">
            His black and white landscapes, often captured at times<br>
            of the day and night when the light is fleeting, or in poor<br>
            weather conditions, such as rain, fog, or snow, are<br>
            reminiscent of the calm in a storm all with an ethereal<br>
            quality.
          </p>
        </div>
      </div>
    </section>
  </section>

  <div class="sidebar">
    <section class="popular">
      <h2 class="sidebar-headline">Popular</h2>
      <div class="sidebar-contents">
        <p class="popular-text">To solve old problems,<br>study new species</p>
        <p class="popular-text">Why Earth may someday<br>look like Mars</p>
        <p class="popular-text">What will humans look<br>like in 100 years?</p>
        <p class="popular-text">How to grow a forest<br>in your backyard</p>
        <p class="popular-text">How humans could evolve<br>to survive in space</p>
      </div>
    </section>
    <section class="instagram">
      <h2 class="instagram-headline">Instagram</h2>
      <div class="sidebar-contents clearfix">
        <div class="instagram-box"></div>
        <div class="instagram-box"></div>
        <div class="instagram-box"></div>
        <div class="instagram-box"></div>
        <div class="instagram-box"></div>
        <div class="instagram-box"></div>
      </div>
    </section>
    <section class="categories">
      <h2 class="categories-headline">Categories</h2>
      <div class="sidebar-contents">
        <p class="categories-text">Technology(15)</p>
        <p class="categories-text">Business(23)</p>
        <p class="categories-text">Entertainment(12)</p>
        <p class="categories-text">Nature(32)</p>
        <p class="categories-text">Education(9)</p>
        <p class="categories-text">Adventure(23)</p>
        <p class="categories-text">Communication(14)</p>
      </div>
    </section>
  </div>
</main>
<footer>
  <p class="footer-text">© All rights reserved </p>
</footer>